In [2]:
import env
import pandas as pd
from pydataset import data
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import acquire

In [ ]:
df_iris = data('iris')

In [ ]:
df_iris.head(3)

In [ ]:
df_iris.shape

In [ ]:
df_iris.columns

In [ ]:
df_iris.info()

In [ ]:
df_iris.describe().T

## Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [ ]:
df_excel = pd.read_excel('Excel_Exercises.xlsx')

### * assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)

### * print the number of rows of your original dataframe

In [ ]:
df_excel.shape[0]

### * print the first 5 column names

In [ ]:
df_excel.columns[:5]

### * print the column names that have a data type of object

In [ ]:
df_excel.select_dtypes(include='object').columns

### * compute the range for each of the numeric variables.

In [ ]:
df_excel.info()

In [ ]:
numbers = df_excel.select_dtypes(exclude='object').columns

In [ ]:
numbers

In [ ]:
for number in numbers:
    print(df_excel[number].max() - df_excel[number].min())

## Read the data from this google sheet into a dataframe, df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

### * print the first 3 rows

In [ ]:
df_google.head(3)

### * print the number of rows and columns

In [ ]:
df_google.shape

### * print the column names

In [ ]:
df_google.columns

### * print the data type of each column

In [ ]:
df_google.info()

### * print the summary statistics for each of the numeric variables

In [ ]:
df_google.describe().T

### * print the unique values for each of your categorical variables

In [ ]:
df_google.select_dtypes(include='object').columns

In [ ]:
for values in df_google.select_dtypes(include='object').columns:
    print(df_google[values].value_counts())

# Data Preparation

#### Using the Iris Data:

#### Use the function defined in acquire.py to load the iris data.

In [ ]:
iris_df = acquire.get_iris_data()

In [ ]:
iris_df

#### Drop the species_id and measurement_id columns.

In [ ]:
iris_df.drop(columns='species_id', inplace=True)

#### Rename the species_name column to just species.

In [ ]:
iris_df.rename(columns={'species_name':'species'}, inplace=True)

#### Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [ ]:
dummy_df = pd.get_dummies(iris_df['species'], drop_first=True)
dummy_df.head()

In [ ]:
pd.concat([iris_df, dummy_df], axis=1)

#### Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def prep_iris(df):
    iris_df.drop(columns='species_id', inplace=True)
    iris_df.rename(columns={'species_name':'species'}, inplace=True)
    dummy_df = pd.get_dummies(iris_df['species'], drop_first=True)
    df = pd.concat([iris_df, dummy_df], axis=1)
    return df

## Using the Titanic dataset
#### Use the function defined in acquire.py to load the Titanic data.

In [4]:
titanic = acquire.get_titanic_data()

#### Drop any unnecessary, unhelpful, or duplicated columns.

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.5+ KB

In [ ]:
columns_to_drop = ['age', 'deck', 'parch', 'embarked']

In [ ]:
titanic.drop(columns_to_drop, inplace=True, axis=1)

In [ ]:
titanic.drop(columns=['parch','embarked'], inplace=True)

In [ ]:
titanic.info()

#### Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
categorical_columns = titanic.select_dtypes(include='object').columns

In [ ]:
dummy_df = pd.get_dummies(titanic[categorical_columns], drop_first=True)

In [ ]:
dummy_df

In [ ]:
titanic = pd.concat([titanic, dummy_df], axis=1)

In [ ]:
titanic

#### Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [6]:
def prep_titanic(df):
    columns_to_drop = ['age', 'deck', 'parch', 'embarked']
    df.drop(columns_to_drop, inplace=True, axis=1)
    categorical_columns = df.select_dtypes(include='object').columns
    dummy_df = pd.get_dummies(df[categorical_columns], drop_first=True)
    titanic = pd.concat([df, dummy_df], axis=1)
    return titanic

## Using the Telco dataset

#### * Use the function defined in acquire.py to load the Telco data.