3 ### Acquire Lesson

In [2]:
# reads data copied to your clipboard
# df1 = pd.read_clipboard()

In [4]:
import pandas as pd
import env

### Source: AWS S3

In [ ]:
# If the s3 file is private, you will need your s3 configurations setup properly.
df_s3 = pd.read_csv('https://s3.amazon.....')

### Source: SQL

!!!Warning "Database Credentials" it's a bad idea to store your databse access credentials in plaintext

In [6]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [7]:
df = pd.read_sql('select * from passengers', get_connection('titanic_db'))

In [13]:
def new_titanic_data():
    return pd.read_sql('select * from passengers', get_connection('titanic_db'))

In [14]:
import os

def get_titanic_data():
    filename = 'titanic.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        #read the SQL query into a dataframe
        df = new_titanic_data()
        
        # write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)
        
        # Return the dataframe to the calling code
        return df

In [17]:
df = get_titanic_data()
df.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1