In [ ]:
import env
import pandas as pd
import pydataset as data
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
df_iris = sns.load_dataset('iris')
type(df_iris)

#### Print the first three rows.

In [ ]:
df_iris.head(3)

#### Print the number of rows and columns (shape)

In [ ]:
df_iris.shape

#### Print the column names

In [ ]:
df_iris.columns

#### Print the data type of each column

In [ ]:
df_iris.dtypes

#### Print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [ ]:
df_iris.describe()

### 5. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [ ]:
df_excel = pd.read_excel('Excel_Exercises.xlsx')

In [ ]:
type(df_excel)

#### Assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)

#### Print the number of rows of your original dataframe

In [ ]:
len(df_excel)

#### Print the first 5 column names

In [ ]:
df_excel.columns[:5]

#### Print the column names that have a data type of object

In [ ]:
df_excel.dtypes

In [ ]:
df_excel.select_dtypes(include='object').columns

#### Compute the range for each of the numeric variables.

In [ ]:
range = df_excel.select_dtypes(exclude='object').max() - df_excel.select_dtypes(exclude='object').min()

In [ ]:
range

### 6. Read the data from this google sheet into a dataframe, df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

#### Print the first 3 rows

In [ ]:
df_google.head(3)

#### Print the number of rows and columns

In [ ]:
df_google.shape

#### Print the column names

In [ ]:
df_google.columns

#### Print the data type of each column

In [ ]:
df_google.dtypes

#### Print the summary statistics for each of the numeric variables

In [ ]:
df_google.describe()

#### Print the unique values for each of your categorical variables

In [ ]:
df_google_objects = df_google.select_dtypes(include='object')
df_google_objects

In [ ]:
for col in df_google_objects.columns:
    if df_google_objects[col].dtypes == 'object':
        print(f'{col} has {df_google_objects[col].nunique()} unique values.')

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own acquire module
import acquire

## Data Prep Exercises

### Using the Iris Data:

#### 1. Use the function defined in acquire.py to load the iris data.
#### 2. Drop the species_id and measurement_id columns.
#### 3. Rename the species_name column to just species.
#### 4. Create dummy variables of the species name and concatenate onto the iris dataframe.
#### 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.
___________________________________________________________________________________________________
- - - - - - - -

#### 1. Use the function defined in acquire.py to load the iris data.

In [ ]:
iris_df = acquire.get_iris_data()

In [ ]:
iris_df.info()

#### 2. Drop the species_id and measurement_id columns

In [ ]:

# Drop columns with too many missing values for now and reassign; check the shape of my data.
cols_to_drop = ['species_id']
iris_df = iris_df.drop(columns=cols_to_drop)

In [ ]:
iris_df.shape

In [ ]:
iris_df.head()

#### 3. Rename the species_name column to just species.

In [ ]:
iris_df.rename(columns={'species_name': 'species'}, inplace=True)

In [ ]:
iris_df.head()

#### 4. Create dummy variables of the species name and concatenate onto the iris dataframe.

In [ ]:
dummy_species = pd.get_dummies(iris_df['species'], dummy_na=False, drop_first=[True, True])

In [ ]:
dummy_species

In [ ]:
iris_df = pd.concat([iris_df, dummy_species], axis=1)

In [ ]:
iris_df.head()

#### 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def prep_iris(df):
    cols_to_drop = ['species_id']
    iris_df = df.drop(columns=cols_to_drop)
    iris_df.rename(columns={'species_name': 'species'}, inplace=True)
    dummy_species = pd.get_dummies(iris_df['species'], dummy_na=False, drop_first=[True, True])
    iris_df = pd.concat([iris_df, dummy_species], axis=1)
    return iris_df

In [ ]:
prep_iris(iris_df)

### Using the Titanic dataset

#### 1. Use the function defined in acquire.py to load the Titanic data.

In [ ]:
titanic_df = acquire.get_titanic_data()

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.info()

#### 2. Drop any unnecessary, unhelpful, or duplicated columns.

In [ ]:
titanic_df = titanic_df.drop_duplicates()
titanic_df = titanic_df.drop(columns=['age','deck', 'embarked'])

In [ ]:
titanic_df.info()

In [ ]:
titanic_df['embark_town'] = titanic_df['embark_town'].fillna(value='Southampton')

In [ ]:
titanic_df.info()

#### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
dummy_df = pd.get_dummies(titanic_df[['sex','class','embark_town']],dummy_na=False, drop_first=[True,True,True])

In [ ]:
dummy_df

In [ ]:
titanic_df = pd.concat([titanic_df,dummy_df],axis=1)
titanic_df.head()

#### 4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
def prep_titanic(df):
    titanic_df = df.drop_duplicates()
    titanic_df = titanic_df.drop(columns=['age','deck', 'embarked'])
    titanic_df['embark_town'] = titanic_df['embark_town'].fillna(value='Southampton')
    dummy_df = pd.get_dummies(titanic_df[['sex','class','embark_town']],dummy_na=False, drop_first=[True,True])
    titanic_df = pd.concat([titanic_df,dummy_df],axis=1)
    return titanic_df

In [ ]:
titanic_df.head()

In [ ]:
prep_titanic(titanic_df).head()

### Using the Telco dataset

#### 1. Use the function defined in acquire.py to load the Telco data.

In [2]:
telco_df = acquire.get_telco_data()

In [3]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

#### 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [ ]:
telco_df.head()

In [ ]:
telco_df = telco_df.drop(columns = ['payment_type_id','internet_service_type_id','contract_type_id','customer_id'])

In [ ]:
telco_df.info()

#### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
dummy_df = pd.get_dummies(telco_df[['gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection','tech_support','streaming_tv','streaming_movies','paperless_billing','churn','contract_type','internet_service_type','payment_type']],dummy_na=False, drop_first=[True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True])

In [ ]:
telco_df = pd.concat([telco_df, dummy_df], axis=1)

In [ ]:
telco_df.head()

#### 4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [4]:
def prep_telco(df):
        telco_df = df.drop(columns = ['payment_type_id','internet_service_type_id','contract_type_id','customer_id'])
        dummy_df = pd.get_dummies(telco_df[['gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection','tech_support','streaming_tv','streaming_movies','paperless_billing','churn','contract_type','internet_service_type','payment_type']],dummy_na=False, drop_first=[True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True])
        telco_df = pd.concat([telco_df, dummy_df], axis=1)
        return telco_df

In [7]:
prep_telco(telco_df).head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,Female,0,Yes,Yes,65,Yes,Yes,Yes,Yes,Yes,...,1,1,0,0,1,0,0,0,0,1
1,Male,0,No,No,54,No,No phone service,Yes,No,No,...,0,0,0,0,1,0,0,1,0,0
2,Female,0,No,No,56,No,No phone service,Yes,Yes,Yes,...,0,0,0,0,1,0,0,0,0,0
3,Male,0,Yes,Yes,20,No,No phone service,Yes,No,Yes,...,0,1,0,0,1,0,0,1,0,0
4,Male,0,Yes,No,72,Yes,Yes,No,Yes,Yes,...,1,1,0,0,1,0,0,0,0,0